[book]
authors = ["The Void Linux Team"]
src = "src"
title = "The Void Linux Handbook"

[output.html]
theme = "src/theme"
default-theme = "void-light"
preferred-dark-theme = "void-dark"
edit-url-template = "https://github.com/void-linux/void-docs/edit/master/{path}"

[output.html.redirect]
"/about-this-handbook.html" = "/about/about-this-handbook.html"
"/config/man.html" = "/config/package-documentation/man.html"
"/config/gnupg.html" = "/config/openpgp.html#gnupg"
"/installation/guides/arm-devices/platforms.html" = "/installation/guides/arm-devices/raspberry-pi.html"

[output.typst]
optional = true

[output.typst.output]
format = "pdf"

[output.typst.style]
paper = "us-letter"
text-font = "Libertinus Serif"
link-color = "black"
# XXX: needs fix for zeros showing up
# heading-numbering = "1.1"

[output.typst.advanced]
typst-markup-header = """
#let voidgreen = rgb("#478061")
#set page(paper: "us-letter")
#align(center + horizon)[
    #image("handbook-cover.svg")
    #title()
]
#pagebreak()
#set page(
    header: [_The Void Linux Handbook_],
    numbering: "1",
)
#set par(justify: true)
#set table(
    stroke: (x, y) => if y != 0 { 0.5pt } else { voidgreen },
    fill: (x, y) => if y == 0 { voidgreen },
)
#show table.cell.where(y: 0): it => {
    set text(white)
    strong(it)
}
#show raw.where(block: false): box.with(fill: luma(240), inset: (x: 3pt, y: 0pt), outset: (y: 3pt), radius: 2pt)
#show raw.where(block: true): box.with(fill: luma(240), inset: 8pt, radius: 3pt)
// XXX: needs fix for zeros showing up
#let skip_zeros(..args) = {
    numbering("1.1", ..args.pos().filter((i) => i != 0))
}
#set heading(numbering: skip_zeros)
"""

[output.gemini]
optional = true

[output.linkcheck]
optional = true
follow-web-links = true
exclude = [
	'kernel\.org',
	'\.onion',
	'localhost',
	'reddit\.com',
	'raspberrypi\.com',
	'xnux\.eu',
	'canonical\.com',
	'freedesktop\.org',
	'libressl\.org',
	'gnu\.org',
]
user-agent = "Mozilla/5.0"
