[book]
authors = ["The Void Linux Team"]
multilingual = false
src = "src"
title = "Void Linux Handbook"

[output.html]
theme = "src/theme"
default-theme = "void-light"
preferred-dark-theme = "void-dark"
edit-url-template = "https://github.com/void-linux/void-docs/edit/master/{path}"

[output.html.redirect]
"/about-this-handbook.html" = "/about/about-this-handbook.html"
"/config/man.html" = "/config/package-documentation/man.html"
"/config/gnupg.html" = "/config/openpgp.html#gnupg"

[output.latex]
optional = true

[output.gemini]
optional = true

[output.linkcheck]
optional = true
follow-web-links = true
exclude = [
	'kernel\.org',
	'ntp\.org',
	'\.onion',
	'localhost',
	'userbase\.kde\.org',
	'sjtu\.edu\.cn',
	'mirrors\.cnnic\.cn',
	'void\.webconverger\.org',
	'mirror\.vofr\.net',
	'void\.chililinux\.com',
	'voidlinux\.com\.br',
]
